body {
    background-image: url(../images/ffvibackground.jpg);
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
    /* color: #85a5c5; */
    font-family: 'Cinzel', serif;
}

img {
    height: 150px;
    width: 150px;
    border: 25px solid white;
    outline: 5px solid green;
}

#your-character {
    border: 0;
}

#enemies img {
    border: 25px solid darkred;
    outline: 2px solid black;
}

#defenders img {
    border: 25px solid #484848;
    margin-bottom: 20px;
}

.title {
    margin-right: 50px;
}

.character-name {
    top: 3%;
    left: 37%;
}

.character-health {
    bottom: -5%;
    left: 42%;
}

.defender > .character-name {
    bottom: 6%;
    left: 3.6%;
    color: white;
}

.defender > .character-health {
    bottom: 6%;
    left: 4%;
    color: white;
}